.search-bar-wrapper {
  display: flex;
  background-color: #242424;
  position: absolute;
  top: 0px;
  z-index: 1000;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 40px;

}

.sticky {
  position: fixed;
  padding-top: 0px;
}

.scroll-top {
  transition: transform 0.5s ease;
}

.rotate {
  transform: rotate(360deg);
}

@media screen and (max-width: 880px) {
  .search-bar-wrapper {
    flex-direction: column;
    gap: 0px;
    padding-bottom: 10px;
  }
}