.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.search {
  display: flex;
  text-align: center;
  justify-content: center;
}

.search input {
  width: 250px;
  padding-left: 10px;
}

.search-options {
  font-size: 14px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.search-options select {
  padding: 5px 10px;
  width: 76px;
}

@media screen and (max-width: 880px) {
  .search-form {
    flex-direction: column;
  }
}